@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Make sure we have the Book model -->
@model Book

<!--  Add some styling to the card -->
 <div style="margin: 15px;">
    <div class="card m-1 p-1" style="border: 1px solid; border-radius: 5px; box-shadow: 0 2px 4px; background-color: lightgray;">

        <!--  Display the title and add some styling -->
        <h3>@Model.Title<span class="badge rounded-pill bg-primary text-white float-end"><small>@Model.Price.ToString("C")</small></span></h3>

        <ul>
            <!--  Display the book details -->
            <li>Title: @Model.Title</li>
            <li>Author: @Model.Author</li>
            <li>Publisher: @Model.Publisher</li>
            <li>ISBN: @Model.ISBN</li>
            <li>Page Count: @Model.PageCount</li>
            <li>Classification: @Model.Classification</li>
            <li>Category: @Model.Category</li>
        </ul>
    </div>
</div>